<div class="page-header">
  <%= link_to project_project_layers_path(@project), :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New project layer</h1>
</div>

<%= render 'form' %>
