<div class="page-header">
  <%= link_to project_path(@project), :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New <%= @project_layer.class %></h1>
</div>

<%= render 'form' %>
