# Global files
.DS_Store
**.orig

# Test files
/coverage/
/spec/tmp/*
.rspec
capybara-*.html

# Logs & Various
/log/*
/tmp/*

# Not sure why here
*.rbc
*.sassc
.sass-cache
/.bundle
/vendor/bundle
/db/*.sqlite3
/public/system/*
rerun.txt
pickle-email-*.html

# Configuration files
config/cartodb_config.yml
