<h1>Application</h1>

<p>Your application was created with success</p>

Application name: <%= @app.name %><br />
Application id: <%= @app.id %><br />
Number of Raster Layers: <%= AppLayer.count %><br />
